aaa new-model
aaa authentication login default local
aaa authorization exec default local
aaa authorization network default local
username admin privilege 15 password 0 cisco123

hostname $HOSTNAME
ip domain name $DOMAIN
crypto key generate rsa modulus 1024
ip ssh version 2
ip ssh time-out 120
line vty 1 15
 transport input ssh
 login local

interface GigabitEthernet1
 ip address $MGMT_IP_ADDRESS 255.255.255.0
